/*Typos*/
@font-face {
  font-family: 'suisse_intlregular';
  src: url('/Fonts/SuisseIntl-Regular-WebXL.woff2') format('woff2'),
       url('/Fonts/SuisseIntl-Regular-WebXL.woff') format('woff'),
       url('/Fonts/SuisseIntl-Regular-WebXL.svg#suisse_intlregular') format('svg'),
       url('/Fonts/SuisseIntl-Regular-WebXL.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* COULEURS */
/* Jour */
:root{
  --bg: white;
  --fg: black;
  --bg2: #f6f6f6;
}
.brand{
  --col: #EABEFF;
}
.motion{
  --col: #94FFA6;
}
.editorial{
  --col: #FFE54B;
}
.web{
  --col: #FFA289;
}
.type{
  --col: #84CDF0;
}

/* Nuit */
@media (prefers-color-scheme: dark){
  :root{
    --bg: black;
    --fg: white;
    --bg2: #0a0a0a;
  }
  /*#services span.filter{
    background-color: var(--bg);
  }
  #contact .reaction.contact a:hover{
    background-color: #444444;
  }
  .index>p:hover{
    background-color: transparent;
  }*/
}


/*LOADER*/
/*Variables*/
:root{
  --e: 10px;
  --l: 40px;
  --d: calc(var(--e) + var(--l));
  --h: 50vh;
  --w: 50vw;
}

/*Animations*/
@keyframes r{
  50%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

/* bg */
#loader-wrapper{
  background-color: var(--bg2);
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  position: fixed;
  z-index: 30;
  pointer-events: none;
}
/* loader */
#loader{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: r 2s infinite ease-in-out;
}
#circle{
  position: absolute;
  width: var(--h);
  height: var(--h);
  border-radius: 50%;
  border: 1px solid lime;
  box-shadow: inset 50px 50px 113px -34px lime, 0px 0px 113px -34px lime;
}
.line{
  background-color: var(--fg);
  block-size: var(--e);
  inline-size: var(--l);
  position: absolute;
}
#haut, #bas{
  transform: rotate(90deg);
}
#haut{
  top: calc(var(--h) - var(--l) + calc(var(--e) / 2));
}
#bas{
  bottom: calc(var(--h) - var(--l) + calc(var(--e) / 2));
}
#gauche{
  left: calc(var(--w) - var(--d));
}
#droite{
  right: calc(var(--w) - var(--d));
}
/* Disparition */
#loader-wrapper.out{
  opacity: 0;
  transition: opacity 0.4s ease-out;
}


/*GENERAL*/
body, html {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}
body {
  background-color: var(--bg);
  font-family: 'suisse_intlregular';
  font-size: 13px;
  color: var(--fg);
  line-height: 1.2;
  height: 100%;
  width: 100%;
  font-feature-settings: 'pnum' on, 'onum' on;
}
p{
  margin:0;
}
hr{
  margin: 0.1em 0;
  border-style: solid;
  border-width: 0.5px 0 0 0;
}
a{
  text-decoration: none;
  color: var(--fg);
}
::selection {
    color: #e4e4e4;
    background-color: transparent;
}
video, iframe{
  width: 100%;
  height: 100%;
}
iframe #player {
    max-width: 100% !important;
}
@media only screen and (max-width: 600px) {
  .carousel{
    height: 100vw;
  }
}


/*Header*/
#header{
  background-color: var(--bg2);
  padding: 12px;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-column-gap: 12px;
  position: fixed;
  top: 0;
  z-index: 3;
  width: calc(100% - 24px);
  max-height: 21px;
  transition: max-height .3s ease-in-out .1s;
  border-bottom: 0.5px solid var(--fg);
}
.reaction{
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-in-out;
}
.action:hover .reaction{
  visibility: visible;
  opacity: 1;
}
#header:hover{
  max-height: 100px;
  transition: max-height .2s ease-in-out 0s;
}
#nom .reaction hr{
  display: none;
}

.reaction.index{
  height: 75px;
  overflow-y: auto;
}
.reaction.index p, .reaction.contact p{
  padding: 0.1em 0;
}
.reaction.index hr, .reaction.contact hr{
  margin: 0;
}
.reaction.index hr:first-child, .reaction.contact hr:first-child{
  margin: 0.1em 0 0 0;
}
.reaction.contact a{
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}
.reaction.contact a:hover{
  background-color: #D1D1D1;
}

/*Marge haut et bas*/
#padding-top, #padding-bottom{
  position: fixed;
  height: 12px;
  width: calc(100% - 24px);
  z-index: 2;
  background-color: var(--bg);
}
#padding-top{
  top: 45px;
}
#padding-bottom{
  bottom: 0;
}

/*PROJETS*/
#projets{
  padding: 0 12px;
  top: 45px;
  position: absolute;
}
.projet{
  padding: 12px 0;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-column-gap: 12px;
  height: 90vh;
  border-bottom: 0.5px solid var(--fg);
}
/*Carousel*/
.carousel{
  grid-column: 1 / 4;
  max-height: 90vh;
  width: 100%;
  text-align: center;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*Description*/
.description-projet{
  grid-column: 4 / 6;
  height: 90vh;
  position: relative;
}
.description-projet .sticky{
  position: sticky;
  top: 57px;
}
.data-projet{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 12px;
}
.infos-projet p:last-child{
  font-size: 20px;
  text-indent: 2em;
  padding-bottom: 20px;
}
.swiper-infos{
  bottom: 0;
  width: 100%;
  position: absolute;
}
.swiper-navigation{
  float: right;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 0;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 0;
}
.swiper-button-next, .swiper-button-prev {
    position: relative;
    top: auto;
    bottom: 0;
    width: auto;
    height: auto;
    margin-top: auto;
    cursor: pointer;
    display: contents;
    align-items: center;
    justify-content: right;
    color: var(--swiper-navigation-color,var(--swiper-theme-color));
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: '←';
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: '→';
}
.swiper-button-next:after, .swiper-button-prev:after {
    font-family: 'suisse_intlregular';
    font-size: 13px;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
}
:root {
    --swiper-navigation-size: auto;
    --swiper-theme-color: auto;
}
.swiper-pagination {
    position: relative;
    transition: .3s opacity;
    transform: translate3d(0,0,0);
    z-index: 1;
    float: left;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0px;
    width: auto;
}

/*Services*/
span.filter{
  border-radius: 30px;
  padding: 1px 6px;
  line-height: 1.7;
  background-color: var(--col);
  border: 1px solid var(--col);
  /*cursor: pointer;
  transition: all .2s cubic-bezier(0.4, 0, 1, 1);
}
span.filter.selected{
  background-color: transparent;
  border: 1px solid black;
}
span.filter:hover{
  background-color: #e4e4e4;
  border: 1px solid black;
}
span.filter.selected{
    box-shadow: 0px 0px 13px 6px var(--col);
*/}
#index .reaction p:hover{
  background-color: var(--col);
}


.data-projet .service::before{
  content: '';
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-left: 0;
  margin-right: 4px;
  display: inline-block;
  background-color: var(--col);
}

/*MOBILE*/
@media only screen and (max-width: 600px) {
  html{
    background-color: var(--bg);
  }
  /*Header*/
  #header{
    grid-template-columns: repeat(2,1fr);
    position: relative;
    height: auto;
    font-size: 11px;
  }
  .reaction.contact p{
    text-align-last: justify;
    text-align: justify;
  }
  #nom .reaction hr{
    display: block;
  }
  .reaction{
    display: block;
  }
  #description, #services, #index{
    display: none;
  }
  #padding-top{
    top: 0;
    position: sticky;
    width: calc(100vw - 24px);
  }

  /*Projets*/
  #projets{
    position: relative;
    top: -12px;
  }
  .projet{
    display: block;
    height: auto;
    box-sizing: border-box;
    width: calc(100vw - 24px);
  }
  .description-projet{
    height: auto;
    padding-top: 16px;
  }
  .swiper-infos{
    display: none;
  }
}
